#div {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/destination/background-destination-desktop.jpg') !important;
    background-size: cover;
    background-position: center;
    // position: absolute;
    // z-index: 100;
}

//rewrite whole god damn project tomorrow, use datajson, make navbar fixed and route elements independent children with 100vh (for background image)
