// .main-page-container {
//     background-image: url('./assets/home/background-home-desktop.jpg');
//     height: 100vh;
//     width: 100vw;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     overflow: hidden;
// }

// @media (max-width: (62em)) {
//     .main-page-container {
//         background-image: url('./assets/home/background-home-tablet.jpg');
//     }
// }

// @media (max-width: (38em)) {
//     .main-page-container {
//         background-image: url('./assets/home/background-home-mobile.jpg');
//     }

// }

.background-container-wrapper {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;

    background-image: url('../../assets/home/background-home-desktop.jpg');
    .homepage-container {
        display: flex;
        // align-self: center;
        justify-content: space-around;
        // gap: 15rem;
        align-items: center;
        width: 90vw;
        height: 100%;
        margin: 10rem auto;
        margin-top: 10rem;
        .homepage-text-container {
            color: #fff;
            // text-align: left;
            max-width: 47.5rem;
            header {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h2 {
                    font-size: 2rem;
                    font-family: 'Barlow Condensed';
                    font-weight: 400;
                    color: #d0d6f9;
                    letter-spacing: 0.4rem;
                }
                span {
                    font-size: 13rem;
                }
            }
            p {
                font-size: 1.8rem;
                font-family: 'Barlow Condensed';
                letter-spacing: 0.1rem;
                line-height: 1.6;
                color: #d0d6f9;
            }
        }
        button {
            max-height: 25rem;
            height: 100%;
            width: 100%;
            max-width: 25rem;
            border-radius: 50rem;
            font-size: 2.5rem;
            letter-spacing: 0.2rem;
            border: none;
            font-family: inherit;
            cursor: pointer;
            &:hover,
            &:active {
                box-shadow: 0 0 0 6rem rgb(255, 255, 255, 0.1);
                transition: box-shadow 0.3s;
            }
        }
    }
}

@media (max-width: (62em)) {
    .background-container-wrapper {
        background-image: url('../../assets/home/background-home-tablet.jpg');
    }
    .homepage-container {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        gap: 15rem;
        margin-top: 10rem;
        margin-bottom: 5rem;

        .homepage-text-container {
            header {
                span {
                    // font-size: 12rem;
                }
            }
        }
        button {
            max-width: 20rem;
            max-height: 20rem;
        }
    }
}

@media (max-width: (38em)) {
    .background-container-wrapper {
        background-image: url('../../assets/home/background-home-mobile.jpg');
    }
    .homepage-container {
        margin-top: 3rem;
        .homepage-text-container {
            header {
                h2 {
                    font-size: 1.5rem;
                }
                span {
                    font-size: 8rem;
                }
            }
            p {
                font-size: 1.4rem;
                max-width: 30rem;
            }
        }

        button {
            max-width: 15rem;
            max-height: 15rem;
            font-size: 1.6rem;
        }
    }
}

// create scrolldown menu bar for mobiles, add responsiveness for mobile devices,  preferably create destination route demo
//next breakpoint 38em width
