.main-page-container {
    background-image: url('./assets/home/background-home-desktop.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: (62em)) {
    .main-page-container {
        background-image: url('./assets/home/background-home-tablet.jpg');
    }
}

@media (max-width: (38em)) {
    .main-page-container {
        background-image: url('./assets/home/background-home-mobile.jpg');
    }
}
